


<div class="row">
	<div class="col-12">
		<button class="bl-social-register-button btn btn-block btn-outline-primary" (click)="onFacebookRegister()">
			<i class="fab fa-facebook-square"></i> {{registerFacebookText}}
		</button>
	</div>
</div>

<div class="row">
	<div class="col-12">
        <button class="bl-social-register-button btn btn-block btn-outline-secondary" (click)="onGoogleRegister()">
            <i class="fab fa-google"></i> {{registerGoogleText}}
        </button>
	</div>
</div>
