


<div class="row">
	<div class="col-12">
		<a href="http://localhost:1337/api/v1/auth/facebook"> hi there </a>

		<button class="bl-social-register-button btn btn-block btn-outline-primary">
			<i class="fab fa-facebook-square"></i> {{registerFacebookText}}
		</button>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<button class="bl-social-register-button btn btn-block btn-outline-secondary" (click)="onSelectGoogle()">
			<i class="fab fa-google"></i> {{registerGoogleText}}</button>
	</div>
</div>
