<div class="row mb-2">
	<div class="col-12 text-center text-secondary">
		<h3 i18n="@@loginAuthTitle">Login</h3>
	</div>
</div>

<bl-social-login></bl-social-login>

<div class="row mt-3 mb-3">
	<div class="col-12 text-center">
		<hr />
		<h6 class="text-secondary" i18n="@@loginAuthOrUseEmail">
			Or use your email to login
		</h6>
	</div>
</div>

<bl-local-login (loggedIn)="onLogin()"></bl-local-login>

<div class="row mt-4 justify-content-end">
	<div class="col-auto">
		<button class="btn btn-link btn-sm" (click)="onForgotPassword()">
			<span i18n="@@loginAuthForgotPassword">Forgot your password?</span>
		</button>
	</div>
</div>
