
<div class="row">
    <div class="col-12">
        <button class="bl-login-navigation btn btn-link" routerLink="../menu">
            <i class="fa fa-chevron-left"></i> {{navigationTitle}}
        </button>
    </div>
</div>


<div class="row" *ngIf="warning">
	<div class="col-12">
		<ngb-alert (close)="clearWarning()">
			<i class="fa fa-exclamation-triangle"></i> {{warningText}}
		</ngb-alert>
	</div>
</div>


<bl-social-login (warning)="setWarning($event)"></bl-social-login>

<div class="row">
    <div class="col-12">
        <p class="bl-separater">- {{orUseEmailText}} -</p>
    </div>
</div>

<bl-local-login></bl-local-login>

<div class="row">
    <div class="col-12">
		<button class="btn btn-link bl-forgot-password-link" (click)="onForgotPassword()">{{forgotPasswordButtonText}}</button>
    </div>
</div>
