

.bl-user-agreement-container {
	margin-top: 20px;
}

.bl-checkbox {
	text-align: center;
	color: #6c757d;

}

.bl-checkbox-checked {
	@extend .bl-checkbox;
	color: #28a645;
}

.bl-checkbox-text {
	font-style: italic;
	font-size: 12px;

	padding-top: 7px;
}
