.bl-user-agreement-checkbox {
	cursor: pointer;
}

.bl-checkbox {
	text-align: center;
	color: #6c757d;
}

.bl-agreement-link {
	color: #007bff !important;
}

.bl-modal {
	margin-top: 80px;
}

.modal-dialog {
	margin-top: 80px;
}

.bl-checkbox-checked {
	@extend .bl-checkbox;
	color: #28a645;
}

.bl-checkbox-text {
	font-style: italic;
	font-size: 12px;

	padding-top: 7px;
}
