.bl-user-agreement-card {
	cursor: pointer;
}

.bl-user-agreement-card:hover {
	background-color: #d3d3d3;
}

.bl-checkbox {
	text-align: center;
	color: #6c757d;
}

.bl-modal {
	margin-top: 80px;
}

.modal-dialog {
	margin-top: 80px;
}

.bl-checkbox-checked {
	@extend .bl-checkbox;
	color: #28a645;
}

.bl-checkbox-text {
	font-style: italic;
	font-size: 12px;

	padding-top: 7px;
}
