
.bl-login-container {
	border-radius: 5px;
	padding: 10px;
	background-color: white;
}


.bl-login-button {
	margin-top: 20px;
}



.bl-login-navigation {
	margin-bottom: 10px;
	font-size: 20px;
}

.bl-forgot-password-link {
	margin-top: 10px;
}

.bl-logo {
	display: block;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 30px;
}
