
<div class="bl-login-container container">
	<div class="row">
		<div class="col-12">
			<img class="bl-logo" src="../../assets/boklisten_logo_v2_icon_blue.png">
		</div>
	</div>
	<router-outlet></router-outlet>
</div>

<!--
<div class="bl-login-container container" *ngIf="showMenu()">

	<div class="row">
		<div class="col-12">
			<button class="btn btn-lg btn-primary btn-block" (click)="onShowRegister()">
				<i class="fa fa-user-plus"></i> {{registerButtonText}}
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<button class="bl-login-button btn btn-lg btn-success btn-block" (click)="onShowLogin()">
				<i class="fa fa-sign-in-alt"></i> {{loginButtonText}}
			</button>
		</div>
	</div>
</div>

<div class="bl-login-container container" *ngIf="showLogin">
	<div class="row">
		<div class="col-12 bl-navigation-header" (click)="onShowMenu()">
			<span>
				<i class="fa fa-chevron-left fa-lg"></i>
			</span>
			<span>{{loginTitle}}</span>
		</div>
	</div>
	<bl-social-login></bl-social-login>

	<div class="row">
		<div class="col-12">
			<p class="bl-separater">- {{orUseEmailText}} -</p>
		</div>
	</div>

	<bl-local-login></bl-local-login>

	<div class="row">
		<div class="col-12">
			<a routerLink="/forgot-password" routerLinkActive="active">
				<button class="btn btn-link bl-forgot-password-link" (click)="onShowForgotPassword()">{{forgotPasswordButtonText}}</button>
			</a>
		</div>
	</div>
</div>


<div class="bl-login-container container" *ngIf="showForgotPassword">
	<div class="row">
		<div class="col-12 bl-navigation-header" (click)="onShowLogin()">
			<span>
				<i class="fa fa-chevron-left fa-lg"></i>
			</span>
			<span>{{forgotPasswordTitleText}}</span>
		</div>
	</div>

	<bl-forgot-password></bl-forgot-password>

</div>

<div class="bl-login-container container" *ngIf="showRegister">
	<div class="row">
		<div class="col-12 bl-navigation-header" (click)="onShowMenu()">
			<span>
				<i class="fa fa-chevron-left fa-lg"></i>
			</span>
			<span>{{registerTitle}}</span>
		</div>
	</div>

	<bl-social-register></bl-social-register>

	<div class="row">
		<div class="col-12">
			<p class="bl-separater">- {{orUseEmailRegisterText}} -</p>
		</div>
	</div>

	<bl-local-register></bl-local-register>
</div>

----- the router -----

<router-outlet></router-outlet>

---------------------
-->


