
.bl-login-container {
	border-radius: 5px;
	background-color: white;
	border: 1px solid #dfdfdf;
	padding: 10px;
	max-width: 350px;
}

.bl-login-wrapper {
	padding: 10px;
}


.bl-logo {
	display: block;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 30px;
}
