
<div class="bl-login-container container">
  <div class="row">
    <div class="col-12">
      <div class="bl-input input-group md-3">
        <div class="bl-input-prepend input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="email" class="form-control" id="blEmail" placeholder="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
       <div class="bl-input input-group md-3">
         <div class="bl-input-prepend input-group-prepend">
           <span class="input-group-text">Password</span>
         </div>
        <input type="password" class="form-control" id="blPassword" placeholder="password">
         <div class="input-group-append">
           <button class="btn btn-outline-secondary" type="button">Login</button>
         </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="bl-login-footer">
        <a href="#">Forgot password?</a>
      </p>
    </div>
  </div>
</div>
