

.bl-login-container {
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.bl-input {
  margin-top: 5px;
}

.bl-input-prepend {
}

.bl-login-footer {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}
