

<div class="row">
    <div class="col-12">
        <button class="bl-login-navigation btn btn-link" routerLink="../">
			<fa-icon [icon]="'chevron-left'"></fa-icon> {{navigationTitle}}
        </button>
    </div>
</div>


<div class="row" *ngIf="warning">
	<div class="col-12">
		<ngb-alert (close)="clearWarning()">
			<fa-icon [icon]="'exclamation-triangle'"></fa-icon> {{warningText}}
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="success">
	<div class="col-12">
		<ngb-alert [type]="'success'" (close)="clearSuccess()">
			{{successText}}
		</ngb-alert>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<p class="bl-forgot-password-text">{{forgotPasswordText}}</p>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="bl-input input-group md-3">
			<div class="bl-input-prepend input-group-prepend" placement="bottom" ngbTooltip="{{tooltipText}}">
          <span class="input-group-text">
			  <fa-icon icon="at"></fa-icon>
		  </span>
			</div>
			<input type="email" class="form-control" id="blEmail" [(ngModel)]="email" [email]="true"
				   placeholder="email" (focus)="true" (keyup.enter)="onRequestNewPassword()">
			<div class="input-group-append">
				<button
					[ngClass]="{'btn': true, 'btn-outline-secondary disabled': !showRequestNewPasswordButton(), 'btn-success': showRequestNewPasswordButton()}"
					type="button" (click)="onRequestNewPassword()">
					<fa-icon [icon]="'arrow-right'"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>
