<div class="row" *ngIf="warning">
	<div class="col-12">
		<ngb-alert (close)="clearWarning()">
			<i class="fa fa-exclamation-triangle"></i> {{warningText}}
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="success">
	<div class="col-12">
		<ngb-alert [type]="'success'" (close)="clearSuccess()">
			{{successText}}
		</ngb-alert>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<p style="text-align: center">{{forgotPasswordText}}</p>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="bl-input input-group md-3">
			<div class="bl-input-prepend input-group-prepend" placement="bottom" ngbTooltip="{{tooltipText}}">
          <span class="input-group-text">
			  <i class="fa  fa-at" alt="email"></i>
		  </span>
			</div>
			<input type="email" class="form-control" id="blEmail" [(ngModel)]="email" [email]="true"
				   placeholder="email" (focus)="true" (keyup.enter)="onRequestNewPassword()">
			<div class="input-group-append">
				<button
					[ngClass]="{'btn': true, 'btn-outline-secondary disabled': !showRequestNewPasswordButton(), 'btn-success': showRequestNewPasswordButton()}"
					type="button" (click)="onRequestNewPassword()">
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>
