<div class="row mb-2">
	<div class="col-12 text-center text-secondary">
		<h3 i18n="@@forgotPasswordTitle">Forgot password</h3>
	</div>
</div>

<div class="row" *ngIf="emailNotValid">
	<div class="col-12">
		<ngb-alert>
			<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
			<span i18n="@@forgotPasswordEmailError"
				>Please provide a valid email</span
			>
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="warning">
	<div class="col-12">
		<ngb-alert [type]="'danger'">
			<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
			<span i18n="@@forgotPasswordNoResetLinkError"
				>Something went wrong, could not send you the reset link. Are
				you sure you have the correct email?</span
			>
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="success">
	<div class="col-12">
		<ngb-alert [type]="'success'" class="mr-2">
			<span i18n="@@forgotPasswordSuccessMsg"
				>An email with instructions on how to reset your password is
				sent to you.</span
			>
		</ngb-alert>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<p class="bl-forgot-password-text" i18n="@@forgotPasswordHowTo">
			Write in your email and we will send you a link about how to reset
			your password
		</p>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="bl-input input-group md-3">
			<div
				class="bl-input-prepend input-group-prepend"
				placement="bottom"
				i18n-ngbTooltip="@@forgotPasswordEmail"
				ngbTooltip="Email"
			>
				<span class="input-group-text">
					<fa-icon icon="at"></fa-icon>
				</span>
			</div>
			<input
				type="email"
				class="form-control"
				id="blEmail"
				[(ngModel)]="email"
				[email]="true"
				i18n="@@forgotpasswordEmail"
				placeholder="Email"
				(focus)="(true)"
				(keyup.enter)="onRequestNewPassword()"
			/>
			<div class="input-group-append">
				<button
					[ngClass]="{
						btn: true,
						'btn-outline-secondary disabled':
							!showRequestNewPasswordButton(),
						'btn-success': showRequestNewPasswordButton()
					}"
					type="button"
					(click)="onRequestNewPassword()"
				>
					<fa-icon [icon]="'arrow-right'"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5 justify-content-left">
	<div class="col-auto">
		<button class="btn btn-link btn-sm" routerLink="../">
			<fa-icon [icon]="'chevron-left'" class="mr-2"></fa-icon>
			<span i18n="@@forgotPasswordGoBackToLogin"
				>Go back to login page</span
			>
		</button>
	</div>
</div>
