
.bl-user-detail-dob {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
}

.bl-user-detail-dob.focused {
	background-color: #377f9b;
	color: #ffffff;
	font-weight: bold;
	border-radius: 50%;

}
.bl-input-invalid {
	border-right: 5px solid red;
}
