.bl-social-button {
	margin-top: 10px;
}

.bl-facebook {
	background-color: #1877f2;
}

.bl-facebook:hover {
	background-color: #184e96;
}

.bl-google {
	background-color: #ea4335;
}

.bl-google:hover {
	background-color: #962d24;
}

.bl-feide {
	border: 2px solid #c4dbf3;
}

.bl-feide:hover {
	background-color: #d3d3d3;
}

.bl-feide-color {
	color: #c4dbf3;
}
