.bl-social-button {
	margin-top: 10px;
}

.bl-facebook {
	background-color: #1877f2;
}

.bl-google {
	background-color: #ea4335;
}

.bl-feide {
	border: 2px solid #c4dbf3;
}

.bl-feide-color {
	color: #c4dbf3;
}
