<div class="row mb-2">
	<div class="col-12 text-center text-secondary">
		<h3 i18n="@@passwordResetTitle">Create new password</h3>
	</div>
</div>

<div class="row" *ngIf="warning">
	<div class="col-12">
		<ngb-alert>
			<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
			<span i18n="@@passwordResetError">Failed to update password. The reset link might be invalid, expired
			or already used.</span>
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="passwordNotValid">
	<div class="col-12">
		<ngb-alert>
			<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
			<span
				i18n="
					should be at least 6 characters long
					@@passwordResetPasswordNotValid"
				>Password not valid. Must at least be 6 characters long</span
			>
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="success">
	<div class="col-12">
		<ngb-alert [type]="'success'">
			<span i18n="@@passwordResetSuccessMsg"
				>Your password was reset!</span
			>
		</ngb-alert>
	</div>
	<div class="col-12">
		<button
			class="btn btn-lg btn-success btn-block"
			(click)="onGoToLogin()"
		>
			<span i18n="@@passwordResetLoginButton">Login</span>
		</button>
	</div>
</div>

<div class="row mt-2" *ngIf="!success">
	<div class="col-12">
		<div class="bl-input input-group md-3">
			<div
				class="bl-input-prepend input-group-prepend"
				i18n-ngbTooltip="@@passwordResetNewPassword"
				ngbTooltip="New password"
				placement="bottom"
			>
				<span class="input-group-text">
					<fa-icon [icon]="'key'"></fa-icon>
				</span>
			</div>
			<input
				type="password"
				class="form-control"
				id="blEmail"
				[(ngModel)]="password"
				i18n="@@passwordResetNewPassword"
				placeholder="New password"
				(focus)="(true)"
				(keyup.enter)="onSetNewPassword()"
			/>
			<div class="input-group-append">
				<button
					[ngClass]="{
						btn: true,
						'btn-outline-secondary disabled': !showSetNewPasswordButton(),
						'btn-success': showSetNewPasswordButton()
					}"
					type="button"
					(click)="onSetNewPassword()"
				>
					<fa-icon [icon]="'arrow-right'"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5 justify-content-left" *ngIf="!success">
	<div class="col-auto">
		<button class="btn btn-link btn-sm" (click)="onGoToLogin()">
			<fa-icon [icon]="'chevron-left'" class="mr-2"></fa-icon>
			<span i18n="@@passwordResetGoBackToLogin"
				>Go back to login page</span
			>
		</button>
	</div>
</div>
