/* You can add global styles to this file, and also import other style files */
.bl-input {
  margin-top: 5px;
}


.bl-link {
	cursor: pointer;
}

.bl-link:hover {
	text-decoration: underline;
	text-decoration-style: solid;

}

.modal-dialog {
	margin-top: 80px;
}

.bl-navigation {
	margin-bottom: 20px;
}
.ngx-datepicker-container {
	z-index: 999 !important;
	min-width: 240px;
	.ngx-datepicker-calendar-container {
		width: auto !important;
	}
}
