<div class="row no-gutters bl-navigation">
    <div class="col-12 bl-link" (click)="onNavigateBack()">
		<a>
			<i class="fa fa-chevron-left"></i> {{navigationTitle}}
		</a>
    </div>
</div>


<div class="row" *ngIf="warning">
	<div class="col-12">
		<ngb-alert (close)="clearWarning()">
			<i class="fa fa-exclamation-triangle"></i> {{warningText}}
		</ngb-alert>
	</div>
</div>



<bl-register-agreement (confirmed)="onConfirmedAgreement($event)" (dismissed)="onDismissedAgreement($event)"></bl-register-agreement>

<bl-social-register [agreementConfirmed]="agreementConfirmed" (warning)="setWarning($event)"></bl-social-register>

<div class="row">
    <div class="col-12">
        <p class="bl-separater">- {{orUseEmailRegisterText}} -</p>
    </div>
</div>

<bl-local-register [agreementConfirmed]="agreementConfirmed" (registerWithoutAgreement)="onRegisterWithoutAgreement()" (registered)="onRegistered()"></bl-local-register>
